<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/burger.css">
    <link rel="stylesheet" href="./style/footer.css">

    <link rel="stylesheet" href="./style/about.css">
</head>

<body>
    <div class="hero container">

        <header>
            <a href="./index.html">
                <img src="./img/logo.svg" alt="">

            </a>
            <nav>
                <ul>
                    <li><a href="./courses.html">Курсы</a></li>
                    <li><a href="./about.html">О нас</a></li>
                    <li><a href="./index.html#contact">Контакты</a></li>
                </ul>
            </nav>
            <button class="btn header_btn"><a href="#questions">
                    Записатся
                </a></button>
            <div class="burger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <div class="menu__box">
                    <div class="burger-menu__nav">
                        <a class="burger-menu__nav_nav" href="./courses.html">Курсы</a>
                        <a class="burger-menu__nav_nav" href="./about.html">О нас</a>
                        <a class="burger-menu__nav_nav" href="./index.html#contact">Контакты</a>
                        <a class="burger-menu__nav_nav btn" href="#">Записаться</a>
                    </div>
                </div>
            </div>
        </header>
        <h1 class="title">American Dream Osh – Открой для себя стиль жизни в Американском духе!</h1>
        <p class="description">American Dream Osh – это больше, чем просто магазин. Мы воплощаем стиль, качество и дух
            американской моды, предлагая оригинальную одежду, обувь и аксессуары от топовых брендов. Наши коллекции
            подчеркивают индивидуальность, свободу и уверенность в себе.
            Присоединяйтесь к нам, чтобы создать свой уникальный образ в стиле American Dream!
        </p>
    </div>

    <section id="about">
        <div class="container">
            <div class="about">
                <h2 class="title_h2">О нас</h2>
                <div class="about_textOne">
                    <h5><span>American Dream Osh</span> — это современный
                        образовательный центр, основанный в 2019 году в городе
                        <span>Ош</span>. Мы помогаем нашим студентам освоить английский
                        язык на всех уровнях — от <span>Starter</span> до
                        <span>Advanced</span>.
                    </h5>
                </div>
                <div class="about_group">
                    <div class="about_block" style="background: url('./img/twoWomen.png') no-repeat center; background-size: contain;">

                    </div>
                    <div class="about_block ">
                        <h4>Современные учебные материалы</h4>
                        <p>Обучение ведется по учебным пособиям ведущих международных издательств и оригинальным
                            материалам (статьи, аудио и видео-фрагменты).</p>
                        <p>Система упражнений и современные технологии помогают научиться понимать английскую речь,
                            грамотно и уверенно говорить в быстрые сроки.</p>
                    </div>
                </div>
                <div class="about_group">
                    <div class="about_block green">
                        <h4>Современные учебные материалы</h4>
                        <p>Обучение ведется по учебным пособиям ведущих международных издательств и оригинальным
                            материалам (статьи, аудио и видео-фрагменты).</p>
                        <p>Система упражнений и современные технологии помогают научиться понимать английскую речь,
                            грамотно и уверенно говорить в быстрые сроки.</p>
                    </div>
                    <div class="about_block" style="background: url('./img/people.png') no-repeat center; background-size: contain;">
                    </div>
                </div>
                <div class="about_group">
                    <div class="about_block" style="background: url('./img/table.png') no-repeat center; background-size: contain;">
                    </div>
                    <div class="about_block ">
                        <h4>Современные учебные материалы</h4>
                        <p>Обучение ведется по учебным пособиям ведущих международных издательств и оригинальным
                            материалам (статьи, аудио и видео-фрагменты).</p>
                        <p>Система упражнений и современные технологии помогают научиться понимать английскую речь,
                            грамотно и уверенно говорить в быстрые сроки.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-section-1">
          <img src="img/logo.svg" alt="logo" class="logo-footer" />
          <div class="uls">
            <div class="site-sections ul-con">
              <h2>Разделы сайтов</h2>
              <ul>
                <li><a href="#">Курсы</a></li>
                <li><a href="#aboutUs">О нас</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="social-madia ul-con">
              <h2>Соц. сети</h2>
              <ul>
               <li> <a href="https://www.instagram.com/americandream.osh/" target="_blank">Instagram</a></li>
               <li>     <a href="https://www.youtube.com/@AmericanDreamOsh" target="_blank">Youtube</a></li>
               <li>      <a href="https://www.tiktok.com/@american.dream4" target="_blank">Tik-tok</a></li>
    
                   
              
              </ul>
            </div>
            <div class="contacts ul-con">
              <h2>Контакты</h2>
              <ul>
                <li>+996 564 464 676</li>
                <li>Пн-Пт с 9:00 до 20:00</li>
                <li>Сб-Вс с 10:00 до 18:00</li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-section-2">
          <p class="copyright">© 2025 "American dream". Все права защищены.</p>
          <p class="policy">Политика</p>
        </div>
    </footer>
    
    <script src="./js/burger.js"></script>

</body>

</html>