{% extends 'include/homepage.html' %}
{% load static %}

{% block content %}

<body>
    <div class="hero container">
        {% include 'include/header.html' %}
        <h1 class="title">{{ about_id.title_banner }}</h1>
        <p style="color: aliceblue;">{{ about_id.description_banner|safe }}</p>
    </div>

    <section id="about">
        <div class="container">
            <div class="about">
                <h2 class="title_h2">{{ about_id.title }}</h2>
                <div class="about_textOne">
                    <h5>{{ about_id.description|safe }}</h5>
                </div>

                {% for about in about_combined %}
                    <div class="about_group {% if about.reverse %}reverse{% endif %}">
                        {% if about.reverse %}
                            <div class="about_block about_content {{ about.color }}">
                                <h4>{{ about.item.title }}</h4>
                                <p>{{ about.item.description|safe }}</p>
                            </div>
                            <div class="about_block about_image" style="background-image: url('{{ about.item.image.url }}');"></div>
                        {% else %}
                            <div class="about_block about_image" style="background-image: url('{{ about.item.image.url }}');"></div>
                            <div class="about_block about_content {{ about.color }}">
                                <h4>{{ about.item.title }}</h4>
                                <p>{{ about.item.description|safe }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% include 'include/footer.html' %}
</body>

{% endblock %}
